body{font-family:"serif";
background-color:skyblue;
}

canvas{
    position: absolute;
    left:25vw;
    top: 10vh;
}

#ripples{
    opacity: .4;
}

h2{
    position: absolute;
    left: 49vw;
    top: 5vh;
}
h1{
    text-align: center;
}