body{font-family:"serif";
background-color: whitesmoke;
}

canvas{
    position: absolute;
    left:0px;
    top: 0px;
}

#ripples{
    opacity: .4;
}

#controls{
    position: relative;
    top: 500px;
}